In [1]:
# Import modules
import pandas as pd
import json
import requests

import matplotlib.pyplot as plt
import numpy as np

# Google API Key
from config import gkey

In [2]:
# Open csv file for reading City Survey Master Data 1996-2017 csv file downloaded from http://sfgov.org/citysurvey/file/95.
# Open csv file from https://www.zillow.com/research/data/
# Save path to data set in a variable
data_file = "Resources/City Survey MASTER Data 2015-2017.csv"
data_file2 = "Resources/Zip_Zhvi_SingleFamilyResidence.csv"

In [3]:
# Use Pandas to read sfgov.org data and zillow medium single family home price
city_survey_pd = pd.read_csv(data_file, dtype={'zipcode':'str'})
city_survey_pd.head()

home_pd = pd.read_csv(data_file2)
home_pd.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02
0,84654,60657,Chicago,IL,Chicago,Cook,1,420800.0,423500.0,426200.0,...,1072300,1062400,1051500,1047200,1047300,1047300,1049600,1050900,1049400,1049600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,NaN,NaN,NaN,...,317500,318400,318500,319400,322400,324800,325400,325000,325100,325000
2,84616,60614,Chicago,IL,Chicago,Cook,3,542400.0,546700.0,551700.0,...,1522500,1514200,1511300,1513400,1513300,1508000,1503700,1495500,1487500,1487000
3,93144,79936,El Paso,TX,El Paso,El Paso,4,70900.0,71200.0,71100.0,...,114000,114100,113800,113700,114200,114300,114000,114000,114300,114200
4,91733,77084,Houston,TX,Houston,Harris,5,76700.0,76500.0,76000.0,...,158800,160700,161400,162600,164100,164400,164200,163800,164000,164400

In [4]:
sf_2017_pd = city_survey_pd[city_survey_pd.year == 2017]
sf_pd = sf_2017_pd[['year', 'zipcode', 'dage', 'dethnic', 'dlivedsf', 'deduc', 'dincome', 'movesf', 'ownrenhm']].copy()
sf_pd['zipcode'] = sf_pd['zipcode'].astype(int) 
sf_pd.head()

sf_pd.dtypes

year        int64
zipcode     int32
dage        int64
dethnic     int64
dlivedsf    int64
deduc       int64
dincome     int64
movesf      int64
ownrenhm    int64
dtype: object

In [5]:
# Count rows to see if there's any missing values.
sf_pd.count()

year        2166
zipcode     2166
dage        2166
dethnic     2166
dlivedsf    2166
deduc       2166
dincome     2166
movesf      2166
ownrenhm    2166
dtype: int64

In [6]:
# Select San Francisco single family home prices from Zillow file
# Get aveage home price for 2017

sfhome_pd = home_pd[home_pd.City == 'San Francisco']

AvePrice = sfhome_pd[['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12']].mean(axis=1)
sfhome_pd['AvePrice'] = AvePrice

homeprice_pd = sfhome_pd[['RegionName', 'City', 'State', 'AvePrice']].copy()

homeprice_pd = homeprice_pd.rename(columns={'RegionName': 'zipcode'})

homeprice_pd

C:\Users\DCPC\Anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

      zipcode           City State      AvePrice
8       94109  San Francisco    CA  3.942708e+06
63      94110  San Francisco    CA  1.428692e+06
313     94122  San Francisco    CA  1.301808e+06
477     94112  San Francisco    CA  9.375333e+05
715     94115  San Francisco    CA  4.077917e+06
864     94117  San Francisco    CA  2.362383e+06
918     94121  San Francisco    CA  1.434792e+06
1072    94118  San Francisco    CA  2.142625e+06
1211    94114  San Francisco    CA  1.974708e+06
1349    94103  San Francisco    CA  1.354867e+06
1435    94107  San Francisco    CA  1.529508e+06
1792    94116  San Francisco    CA  1.241758e+06
1963    94123  San Francisco    CA  4.461117e+06
2416    94131  San Francisco    CA  1.485142e+06
2653    94133  San Francisco    CA  2.714033e+06
3363    94134  San Francisco    CA  8.673167e+05
3631    94132  San Francisco    CA  1.170975e+06
3834    94124  San Francisco    CA  8.382833e+05
5739    94127  San Francisco    CA  1.584258e+06

In [7]:
homeprice_pd.dtypes

zipcode       int64
City         object
State        object
AvePrice    float64
dtype: object

In [8]:
# Add columns for lat and lng
homeprice_pd["Lat"] = ""
homeprice_pd["Lng"] = ""
homeprice_pd.head()

     zipcode           City State      AvePrice Lat Lng
8      94109  San Francisco    CA  3.942708e+06
63     94110  San Francisco    CA  1.428692e+06
313    94122  San Francisco    CA  1.301808e+06
477    94112  San Francisco    CA  9.375333e+05
715    94115  San Francisco    CA  4.077917e+06

In [9]:
# create a params dict that will be updated with new zip code iteration
params = {"key": gkey}

# Loop through the homeprice_pd and run a lat/long search for each city
for index, row in homeprice_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    zipcode = row['zipcode']

    # update address key value
    params['address'] = f"{zipcode}"

    # make request, print url
    cities_lat_lng = requests.get(base_url, params=params)

    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    homeprice_pd.set_value(
        index, "Lat", cities_lat_lng["results"][0]["geometry"]["location"]["lat"])
    homeprice_pd.set_value(
        index, "Lng", cities_lat_lng["results"][0]["geometry"]["location"]["lng"])

# Visualize to confirm lat lng appear
homeprice_pd

C:\Users\DCPC\Anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\DCPC\Anaconda3\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

      zipcode           City State      AvePrice      Lat      Lng
8       94109  San Francisco    CA  3.942708e+06   37.793 -122.421
63      94110  San Francisco    CA  1.428692e+06  37.7486 -122.418
313     94122  San Francisco    CA  1.301808e+06  37.7597 -122.475
477     94112  San Francisco    CA  9.375333e+05  37.7225 -122.441
715     94115  San Francisco    CA  4.077917e+06  37.7878 -122.438
864     94117  San Francisco    CA  2.362383e+06  37.7717 -122.444
918     94121  San Francisco    CA  1.434792e+06  37.7813 -122.498
1072    94118  San Francisco    CA  2.142625e+06  37.7823 -122.464
1211    94114  San Francisco    CA  1.974708e+06  37.7561 -122.433
1349    94103  San Francisco    CA  1.354867e+06  37.7726  -122.41
1435    94107  San Francisco    CA  1.529508e+06  37.7618 -122.399
1792    94116  San Francisco    CA  1.241758e+06  37.7432 -122.498
1963    94123  San Francisco    CA  4.461117e+06   37.802 -122.438
2416    94131  San Francisco    CA  1.485142e+06  37.7401 -122.438
2653    94133  San Francisco    CA  2.714033e+06   37.806  -122.41
3363    94134  San Francisco    CA  8.673167e+05  37.7202  -122.41
3631    94132  San Francisco    CA  1.170975e+06  37.7181 -122.486
3834    94124  San Francisco    CA  8.382833e+05  37.7304 -122.384
5739    94127  San Francisco    CA  1.584258e+06  37.7346 -122.464

In [10]:
combined_pd = pd.merge(sf_pd, homeprice_pd, on='zipcode')

combined_pd.head()

,year,zipcode,dage,dethnic,dlivedsf,deduc,dincome,movesf,ownrenhm,City,State,AvePrice,Lat,Lng
0,2017,94109,7,4,6,3,2,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421
1,2017,94109,2,4,3,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421
2,2017,94109,3,4,2,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421
3,2017,94109,2,2,2,4,3,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421
4,2017,94109,5,4,1,4,8,1,3,San Francisco,CA,3.942708e+06,37.793,-122.421

In [11]:

income_level= {1: "$10k or less", 2: "$10,001 to $25k", 3: "$25,001 to $35k", 4: "$35,001 to $50k", 5: "$50,001 to $100k", 6: "$100,001 to $200k", 7: "over $200k", 8: "Refused"}

income_level

{1: '$10k or less',
 2: '$10,001 to $25k',
 3: '$25,001 to $35k',
 4: '$35,001 to $50k',
 5: '$50,001 to $100k',
 6: '$100,001 to $200k',
 7: 'over $200k',
 8: 'Refused'}

In [12]:
age_group = {1: "18-24", 2: "25-34", 3: "35-44", 4: "45-54", 5: "55-59", 6: "60-64", 7: "65+", 8: "No answer"}
age_group

{1: '18-24',
 2: '25-34',
 3: '35-44',
 4: '45-54',
 5: '55-59',
 6: '60-64',
 7: '65+',
 8: 'No answer'}

In [13]:
ethnicity = {1: "African American/Black", 2: "Asian", 3: "Arab/Middle Eastern/North African", \
              4: "Caucasian/White", 5: "Hispanic/Latino", 6: "Native American/Indian", \
              7: "Pacific Islander", 8: "Other", 9: "Refused/No Answer", 10: "Mixed Ethnicity"}

ethnicity

{1: 'African American/Black',
 2: 'Asian',
 3: 'Arab/Middle Eastern/North African',
 4: 'Caucasian/White',
 5: 'Hispanic/Latino',
 6: 'Native American/Indian',
 7: 'Pacific Islander',
 8: 'Other',
 9: 'Refused/No Answer',
 10: 'Mixed Ethnicity'}

In [14]:
years_in_sf = {1: "< 2 years", 2: "3-5 years", 3: "6-10 years", 4: "11-20 years", \
               5: "21-30 years", 6: "> 30 years", 7: "Don't know/No answer"}

years_in_sf

{1: '< 2 years',
 2: '3-5 years',
 3: '6-10 years',
 4: '11-20 years',
 5: '21-30 years',
 6: '> 30 years',
 7: "Don't know/No answer"}

In [15]:
education_level = {1: "< high school", 2: "High school", 3: "< 4 years of college", 4: "4 or > years of college/Post Graduate", 5: "No answer"}

education_level

{1: '< high school',
 2: 'High school',
 3: '< 4 years of college',
 4: '4 or > years of college/Post Graduate',
 5: 'No answer'}

In [16]:
own_rent = {1: "own", 2: "rent", 3: "other", 4: "No Answer/Refused", 5: "Live with friends/family", \
            6: "Employer provides", 7: "Institutional", 8: "Homeless"}

own_rent

{1: 'own',
 2: 'rent',
 3: 'other',
 4: 'No Answer/Refused',
 5: 'Live with friends/family',
 6: 'Employer provides',
 7: 'Institutional',
 8: 'Homeless'}

In [17]:
combined_pd['income_level'] = combined_pd.dincome.map(income_level)
combined_pd['age_group'] = combined_pd.dincome.map(age_group)
combined_pd['ethnicity'] = combined_pd.dincome.map(ethnicity)
combined_pd['years_in_sf'] = combined_pd.dincome.map(years_in_sf)
combined_pd['education_level'] = combined_pd.dincome.map(education_level)
combined_pd['own_rent'] = combined_pd.dincome.map(own_rent)
combined_pd.head(10)

,year,zipcode,dage,dethnic,dlivedsf,deduc,dincome,movesf,ownrenhm,City,State,AvePrice,Lat,Lng,income_level,age_group,ethnicity,years_in_sf,education_level,own_rent
0,2017,94109,7,4,6,3,2,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
1,2017,94109,2,4,3,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
2,2017,94109,3,4,2,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
3,2017,94109,2,2,2,4,3,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$25,001 to $35k",35-44,Arab/Middle Eastern/North African,6-10 years,< 4 years of college,other
4,2017,94109,5,4,1,4,8,1,3,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
5,2017,94109,7,4,6,4,5,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
6,2017,94109,7,4,6,4,8,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
7,2017,94109,2,2,4,4,5,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
8,2017,94109,4,9,5,4,8,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
9,2017,94109,2,4,1,4,8,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
10,2017,94109,7,4,3,4,6,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
11,2017,94109,3,4,3,4,7,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,over $200k,65+,Pacific Islander,Don't know/No answer,NaN,Institutional
12,2017,94109,1,4,4,2,7,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,over $200k,65+,Pacific Islander,Don't know/No answer,NaN,Institutional
13,2017,94109,4,4,4,4,7,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,over $200k,65+,Pacific Islander,Don't know/No answer,NaN,Institutional
14,2017,94109,3,2,3,4,6,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
15,2017,94109,2,1,1,4,8,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
16,2017,94109,2,3,2,4,1,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,$10k or less,18-24,African American/Black,< 2 years,< high school,own
17,2017,94109,3,4,4,4,6,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
18,2017,94109,6,4,2,4,7,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,over $200k,65+,Pacific Islander,Don't know/No answer,NaN,Institutional
19,2017,94109,1,10,2,3,8,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
20,2017,94109,3,5,2,4,1,2,1,San Francisco,CA,3.942708e+06,37.793,-122.421,$10k or less,18-24,African American/Black,< 2 years,< high school,own
21,2017,94109,7,4,3,4,5,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
22,2017,94109,7,2,6,4,5,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
23,2017,94109,3,4,3,4,4,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$35,001 to $50k",45-54,Caucasian/White,11-20 years,4 or > years of college/Post Graduate,No Answer/Refused
24,2017,94109,2,9,5,3,8,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
25,2017,94109,1,5,2,2,2,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
26,2017,94109,2,2,1,4,8,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
27,2017,94109,3,4,6,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
28,2017,94109,3,3,4,4,8,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
29,2017,94109,4,4,5,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2017,94109,2,10,2,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
71,2017,94109,2,5,1,1,8,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
72,2017,94109,2,4,3,3,6,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
73,2017,94109,7,4,6,4,6,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
74,2017,94109,4,7,2,2,1,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,$10k or less,18-24,African American/Black,< 2 years,< high school,own
75,2017,94109,5,10,2,4,4,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$35,001 to $50k",45-54,Caucasian/White,11-20 years,4 or > years of college/Post Graduate,No Answer/Refused
76,2017,94109,3,5,4,4,3,6,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$25,001 to $35k",35-44,Arab/Middle Eastern/North African,6-10 years,< 4 years of college,other
77,2017,94109,2,2,1,2,2,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
78,2017,94109,7,5,6,2,2,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
79,2017,94109,8,2,4,4,8,3,1,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
80,2017,94109,7,4,1,4,8,6,1,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
81,2017,94109,2,2,4,4,8,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
82,2017,94109,7,4,6,4,5,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
83,2017,94109,5,4,6,4,4,3,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$35,001 to $50k",45-54,Caucasian/White,11-20 years,4 or > years of college/Post Graduate,No Answer/Refused
84,2017,94109,7,4,6,4,6,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
85,2017,94109,2,2,1,4,6,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
86,2017,94109,7,3,6,2,2,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
87,2017,94109,7,4,6,4,6,4,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
88,2017,94109,7,4,6,4,7,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,over $200k,65+,Pacific Islander,Don't know/No answer,NaN,Institutional
89,2017,94109,3,10,4,1,2,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
90,2017,94109,1,10,3,3,5,3,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
91,2017,94109,4,4,6,4,5,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
92,2017,94109,7,4,3,4,7,3,1,San Francisco,CA,3.942708e+06,37.793,-122.421,over $200k,65+,Pacific Islander,Don't know/No answer,NaN,Institutional
93,2017,94109,2,2,2,4,1,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,$10k or less,18-24,African American/Black,< 2 years,< high school,own
94,2017,94109,4,2,6,4,6,3,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
95,2017,94109,6,4,6,4,5,1,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$50,001 to $100k",55-59,Hispanic/Latino,21-30 years,No answer,Live with friends/family
96,2017,94109,7,10,6,2,2,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$10,001 to $25k",25-34,Asian,3-5 years,High school,rent
97,2017,94109,7,4,5,4,6,2,2,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides
98,2017,94109,6,5,6,2,8,4,2,San Francisco,CA,3.942708e+06,37.793,-122.421,Refused,No answer,Other,NaN,NaN,Homeless
99,2017,94109,4,2,6,4,6,1,1,San Francisco,CA,3.942708e+06,37.793,-122.421,"$100,001 to $200k",60-64,Native American/Indian,> 30 years,NaN,Employer provides

In [27]:
combined_pd = combined_pd[['year', 'dage', 'age_group', 'dethnic', 'ethnicity', 'dlivedsf', 'years_in_sf', \
              'deduc', 'education_level', 'dincome', 'income_level', 'movesf', 'ownrenhm', 'own_rent', \
              'AvePrice', 'zipcode', 'Lat', 'Lng', 'City', 'State']]

combined_pd

,year,dage,age_group,dethnic,ethnicity,dlivedsf,years_in_sf,deduc,education_level,dincome,income_level,movesf,ownrenhm,own_rent,AvePrice,zipcode,Lat,Lng,City,State
0,2017,7,25-34,4,Asian,6,3-5 years,3,High school,2,"$10,001 to $25k",4,2,rent,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
1,2017,2,60-64,4,Native American/Indian,3,> 30 years,4,NaN,6,"$100,001 to $200k",2,2,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
2,2017,3,60-64,4,Native American/Indian,2,> 30 years,4,NaN,6,"$100,001 to $200k",2,2,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
3,2017,2,35-44,2,Arab/Middle Eastern/North African,2,6-10 years,4,< 4 years of college,3,"$25,001 to $35k",2,2,other,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
4,2017,5,No answer,4,Other,1,NaN,4,NaN,8,Refused,1,3,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
5,2017,7,55-59,4,Hispanic/Latino,6,21-30 years,4,No answer,5,"$50,001 to $100k",3,2,Live with friends/family,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
6,2017,7,No answer,4,Other,6,NaN,4,NaN,8,Refused,4,1,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
7,2017,2,55-59,2,Hispanic/Latino,4,21-30 years,4,No answer,5,"$50,001 to $100k",1,2,Live with friends/family,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
8,2017,4,No answer,9,Other,5,NaN,4,NaN,8,Refused,4,1,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
9,2017,2,No answer,4,Other,1,NaN,4,NaN,8,Refused,4,2,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
10,2017,7,60-64,4,Native American/Indian,3,> 30 years,4,NaN,6,"$100,001 to $200k",4,1,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
11,2017,3,65+,4,Pacific Islander,3,Don't know/No answer,4,NaN,7,over $200k,1,2,Institutional,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
12,2017,1,65+,4,Pacific Islander,4,Don't know/No answer,2,NaN,7,over $200k,4,1,Institutional,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
13,2017,4,65+,4,Pacific Islander,4,Don't know/No answer,4,NaN,7,over $200k,4,1,Institutional,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
14,2017,3,60-64,2,Native American/Indian,3,> 30 years,4,NaN,6,"$100,001 to $200k",1,2,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
15,2017,2,No answer,1,Other,1,NaN,4,NaN,8,Refused,2,2,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
16,2017,2,18-24,3,African American/Black,2,< 2 years,4,< high school,1,$10k or less,3,2,own,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
17,2017,3,60-64,4,Native American/Indian,4,> 30 years,4,NaN,6,"$100,001 to $200k",4,2,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
18,2017,6,65+,4,Pacific Islander,2,Don't know/No answer,4,NaN,7,over $200k,4,1,Institutional,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
19,2017,1,No answer,10,Other,2,NaN,3,NaN,8,Refused,2,2,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
20,2017,3,18-24,5,African American/Black,2,< 2 years,4,< high school,1,$10k or less,2,1,own,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
21,2017,7,55-59,4,Hispanic/Latino,3,21-30 years,4,No answer,5,"$50,001 to $100k",4,2,Live with friends/family,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
22,2017,7,55-59,2,Hispanic/Latino,6,21-30 years,4,No answer,5,"$50,001 to $100k",4,1,Live with friends/family,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
23,2017,3,45-54,4,Caucasian/White,3,11-20 years,4,4 or > years of college/Post Graduate,4,"$35,001 to $50k",3,2,No Answer/Refused,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
24,2017,2,No answer,9,Other,5,NaN,3,NaN,8,Refused,4,2,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
25,2017,1,25-34,5,Asian,2,3-5 years,2,High school,2,"$10,001 to $25k",1,2,rent,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
26,2017,2,No answer,2,Other,1,NaN,4,NaN,8,Refused,4,2,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
27,2017,3,60-64,4,Native American/Indian,6,> 30 years,4,NaN,6,"$100,001 to $200k",2,2,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
28,2017,3,No answer,3,Other,4,NaN,4,NaN,8,Refused,4,2,Homeless,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
29,2017,4,60-64,4,Native American/Indian,5,> 30 years,4,NaN,6,"$100,001 to $200k",2,2,Employer provides,3.942708e+06,94109,37.793,-122.421,San Francisco,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,2017,6,55-59,3,Hispanic/Latino,4,21-30 years,4,No answer,5,"$50,001 to $100k",1,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1934,2017,3,60-64,4,Native American/Indian,4,> 30 years,4,NaN,6,"$100,001 to $200k",3,1,Employer provides,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1935,2017,2,55-59,1,Hispanic/Latino,1,21-30 years,4,No answer,5,"$50,001 to $100k",4,2,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1936,2017,6,55-59,1,Hispanic/Latino,6,21-30 years,3,No answer,5,"$50,001 to $100k",4,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1937,2017,5,25-34,1,Asian,6,3-5 years,2,High school,2,"$10,001 to $25k",1,2,rent,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1938,2017,7,55-59,10,Hispanic/Latino,6,21-30 years,4,No answer,5,"$50,001 to $100k",4,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1939,2017,4,65+,4,Pacific Islander,5,Don't know/No answer,4,NaN,7,over $200k,2,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1940,2017,7,60-64,4,Native American/Indian,6,> 30 years,4,NaN,6,"$100,001 to $200k",2,2,Employer provides,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1941,2017,4,65+,1,Pacific Islander,4,Don't know/No answer,4,NaN,7,over $200k,3,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1942,2017,4,60-64,4,Native American/Indian,6,> 30 years,2,NaN,6,"$100,001 to $200k",4,1,Employer provides,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1943,2017,2,60-64,10,Native American/Indian,1,> 30 years,4,NaN,6,"$100,001 to $200k",2,2,Employer provides,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1944,2017,3,55-59,4,Hispanic/Latino,5,21-30 years,3,No answer,5,"$50,001 to $100k",3,3,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1945,2017,1,18-24,1,African American/Black,5,< 2 years,3,< high school,1,$10k or less,1,2,own,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1946,2017,4,65+,4,Pacific Islander,5,Don't know/No answer,4,NaN,7,over $200k,4,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1947,2017,7,55-59,4,Hispanic/Latino,6,21-30 years,4,No answer,5,"$50,001 to $100k",4,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1948,2017,3,18-24,2,African American/Black,4,< 2 years,2,< high school,1,$10k or less,4,1,own,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1949,2017,4,65+,4,Pacific Islander,5,Don't know/No answer,4,NaN,7,over $200k,4,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1950,2017,3,60-64,4,Native American/Indian,4,> 30 years,4,NaN,6,"$100,001 to $200k",3,1,Employer provides,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1951,2017,7,55-59,4,Hispanic/Latino,6,21-30 years,4,No answer,5,"$50,001 to $100k",4,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1952,2017,2,65+,4,Pacific Islander,6,Don't know/No answer,2,NaN,7,over $200k,2,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1953,2017,2,65+,2,Pacific Islander,4,Don't know/No answer,4,NaN,7,over $200k,4,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1954,2017,2,45-54,7,Caucasian/White,6,11-20 years,3,4 or > years of college/Post Graduate,4,"$35,001 to $50k",2,2,No Answer/Refused,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1955,2017,2,55-59,5,Hispanic/Latino,5,21-30 years,4,No answer,5,"$50,001 to $100k",1,2,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1956,2017,3,No answer,2,Other,4,NaN,4,NaN,8,Refused,4,1,Homeless,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1957,2017,3,No answer,5,Other,3,NaN,1,NaN,8,Refused,4,2,Homeless,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1958,2017,3,65+,4,Pacific Islander,4,Don't know/No answer,4,NaN,7,over $200k,2,1,Institutional,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1959,2017,5,55-59,4,Hispanic/Latino,6,21-30 years,4,No answer,5,"$50,001 to $100k",4,2,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1960,2017,3,45-54,5,Caucasian/White,5,11-20 years,1,4 or > years of college/Post Graduate,4,"$35,001 to $50k",4,2,No Answer/Refused,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1961,2017,7,55-59,4,Hispanic/Latino,5,21-30 years,3,No answer,5,"$50,001 to $100k",3,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA
1962,2017,7,55-59,4,Hispanic/Latino,4,21-30 years,3,No answer,5,"$50,001 to $100k",2,1,Live with friends/family,1.529508e+06,94107,37.7618,-122.399,San Francisco,CA

In [26]:
combined_pd.isnull().sum()

year                  0
dage                  0
age_group             0
dethnic               0
ethnicity             0
dlivedsf              0
years_in_sf         337
deduc                 0
education_level    1027
dincome               0
income_level          0
movesf                0
ownrenhm              0
own_rent              0
AvePrice              0
zipcode               0
Lat                   0
Lng                   0
City                  0
State                 0
dtype: int64

In [ ]:
combined_pd.to_csv('sfdata.csv', index=False, header=True)